.table {
  width: 100%;

  thead th {
    background-color: #5C5C5C;
    color: #fff;

    &:first-of-type {
      border-radius: 10px 0px 0px 0px;
    }
    &:last-of-type {
      border-radius: 0px 10px 0px 0px;
    }
  }

  th, td {
    position: relative;
    text-align: center;
    padding: 10px 0px;
  }

  tbody {
    tr {
      background-color: #EBEBEB;
    }
  }
  .thChildren{
    background: #d0d0d0;
    color: #000;
  }
}